@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
:root{
    --StrongCyan: hsl(172, 67%, 45%);
    --VeryDarkCyan: hsl(183, 100%, 15%);
    --DarkGrayishCyan: hsl(186, 14%, 43%);
    --GrayishCyan: hsl(184, 14%, 56%);
    --LightGrayishCyan: hsl(185, 41%, 84%);
    --VeryLightGrayishCyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
body{
    font-size: 24px;
    background-color: var(--LightGrayishCyan);
    color: var(--VeryDarkCyan);
}
body > header{
    padding-top: 2rem;
}
body > header > h1{
    width: 5.5rem;
    font-size: 1.2rem;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: auto;
    letter-spacing: 10px;
}
main{
    width: 100%;
    background-color: white;
    border-radius: 20px 20px 0 0;
    padding-bottom: 1rem;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]{
    -moz-appearance:textfield;
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    text-align: end;
    font-size: 18px;
    background-color: var(--VeryLightGrayishCyan);
    color: var(--VeryDarkCyan);
    border-radius: 5px;
    border: 2px transparent solid;
    cursor: pointer;
}
input[type="number"]:focus-visible{
    outline: none;
    border: 2px var(--StrongCyan) solid;
}
button{
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: var(--VeryDarkCyan);
    color: var(--LightGrayishCyan);
    cursor: pointer;
}
button:hover, button[type=reset]:hover{
    background-color: var(--LightGrayishCyan);
    color:var(--VeryDarkCyan)
}
button[type=reset]{
    width: 100%;
    background-color: var(--StrongCyan);
    color: var(--VeryDarkCyan);
    margin-top: 1rem;
}
.bill, .numberOfPeople, .selectTip, .total{
    margin: 1.5rem;
    position: relative;
}
.bill{
    padding-top: 1rem;
}
.bill > label, .numberOfPeople > label, .selectTip > label{
    color: var(--DarkGrayishCyan);
    font-size: 15px;
}
.bill > img, .numberOfPeople > img{
    position: absolute;
    top: 3rem;
    left: 1rem;
}
.bill > img {
    top: 4rem;
}
.selectTip{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.selectTip > label{
    grid-column: span 2;
}
.selectTip > button.active{
    background-color: var(--StrongCyan);
    color: var(--VeryDarkCyan); 
}
.numberOfPeople > label > span {
    float: right;
    margin-top: 0.5rem;
    color: red;
    opacity: 0;
}
.numberOfPeople > input.error{
    border: 2px red solid;
}
.numberOfPeople > label > span.error{
    opacity: 1;
}
.total{
    padding: 1.5rem;
    background-color: var(--VeryDarkCyan);
    color: var(--GrayishCyan);
    border-radius: 10px;
}
.total h2 {
    font-size: 1rem;
    color: var(--White);
}
.TipAmountPerson, .totalPerson{
    position: relative;
    margin: 1rem 0;
}
.TipAmountPerson > .person, .totalPerson > .person {
    font-size: .8rem;
}
.TipAmountPerson > .monto, .totalPerson > .monto {
    color: var(--StrongCyan);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.attribution {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 11px;
    text-align: center;
    display: none;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media (min-width:800px) {
    body > header {
        margin-top: 4rem;
    }
    main{
        width: 50rem;
        height: 23.3rem;
        margin: auto;
        margin-top: 4rem;
        border-radius: 20px;
    }
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }
    input[type=number]{
        padding: 0.2rem 1rem;
    }
    button{
        padding: 0.3rem;
    }
    .bill{
        padding-top: 0;
    }
    .bill > img, .numberOfPeople > img {
        top: 2.9rem;
    }
    .bill, .numberOfPeople, .selectTip, .total {
        margin: 1rem 1.5rem;
    }
    .selectTip{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .selectTip > label{
        grid-column: span 3;
    }
    
    .total{
        grid-row: -5 / -1;
        grid-column: 2 /3;
    }
    .total > button {
        margin-top: 7.4rem;
    }
    .attribution{
        display: initial;
    }
}